# POLARIS / Iceberg catalog
POLARIS_CLIENT_ID=
POLARIS_CLIENT_SECRET=
# Combined credential: CLIENT_ID:CLIENT_SECRET
POLARIS_CLIENT_CREDENTIAL=
POLARIS_URI=
POLARIS_WAREHOUSE=
POLARIS_SCOPE=PRINCIPAL_ROLE:ALL
POLARIS_OAUTH2_SERVER_URI=

# S3 / AWS
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_REGION=
S3_BUCKET=
